---
import GitHub from "./icons/GitHubIcon.astro";
import NextJS from "./icons/NextJSIcon.astro";
import Tailwind from "./icons/TailwindIcon.astro";
import LinkButton from "./LinkButton.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import SupabaseIcon from "./icons/SupabaseIcon.astro";
import BracketIcon from "./icons/BracketIcon.astro";
import Link from "./icons/Link.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#0d1117] text-white",
    icon: ReactIcon,
  },
  SUPABASE: {
    name: "Supabase",
    class: "bg-[#003159] text-white",
    icon: SupabaseIcon,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#FFA500] text-white",
    icon: BracketIcon,
  },
};
const PROJECTS = [
  {
    title: "GreenPrint Landing Page",
    description:
      "Landing page para la empresa GreenPrint",
    link: "https://greenprint-landing.vercel.app/",
    github: "https://github.com/dest92/greenprint-landing",
    image: "/projects/landing.png",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "GreenPrint Ecommerce",
    description:
      "Ecommerce básico para la empresa GreenPrint",
    link: "https://greenprint-ecommerce.vercel.app",
    github: "https://github.com/dest92/greenprint-ecommerce",
    image: "/projects/ecommerce.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Epic Clash - Juego de combates épicos",
    description:
      "Epic Clash es un juego de combate por turnos donde dos facciones luchan hasta que muere un equipo entero. Las facciones están compuestas por héroes y monstruos, y los jugadores pueden componer sus equipos con cualquier combinación de estos personajes. Cuando los personajes atacan, se muestran mensajes de combate, brindando una experiencia inmersiva.",
    link: "https://epic-clash.vercel.app/",
    github: "https://github.com/dest92/epic-clash",
    image: "/projects/EpicClash.jpg",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Ley de Bases - Votación en tiempo real",
    description:
      "Aplicación web para votar y visualizar votos de los ciudadanos sobre la Ley de Bases del Congreso de los Diputados. Utilicé Supabase para la base de datos para almacenar los votos y que se actualicen en tiempo real.",
    link: "https://ley-bases.vercel.app/",
    github: "https://github.com/dest92/ley-omnibus-voting",
    image: "/projects/bases.png",
    tags: [TAGS.TAILWIND, TAGS.REACT, TAGS.SUPABASE, TAGS.ASTRO],
  },
  {
    title: "Reload Landing Page",
    description: "Landing page de la comunidad de CS2 Reload Gaming.",
    link: "https://reload-landing.vercel.app/",
    github: "https://github.com/dest92/reload-landing",
    image: "/projects/reload.png",
    tags: [TAGS.TAILWIND, TAGS.REACT, TAGS.SUPABASE, TAGS.NEXT],
  },
  {
    title: "Fitlife Manager",
    description:
      "Desarrollo y despliegue de un sistema integral de control. El sistema permite gestionar clientes, pagos, elementos de entrenamiento, entre otras funcionalidades.",
    image: "/projects/manager.png",
    tags: [TAGS.TAILWIND, TAGS.REACT, TAGS.SUPABASE, TAGS.NEXT],
  },
  {
    title: "Fitlife GO",
    description:
      "Sistema para que los clientes del gimnasio puedan gestionar su información o marquen su asistencia al gimnasio mediante el escaneo de código QR, cuyo escáner se encuentra en el mismo sistema.",
    image: "/projects/go.png",
    tags: [TAGS.TAILWIND, TAGS.REACT, TAGS.SUPABASE, TAGS.NEXT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group sm:flex-row sm:space-x-4 sm:space-y-0">
        <div class="w-full sm:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-4 transition duration-500 ease-in-out transform shadow-xl overflow-hidden rounded-xl sm:rounded-xl sm:group-hover:-translate-y-1 sm:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt=""
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full sm:scale-110 sm:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full sm:w-1/2 sm:max-w-lg">
          <h3 class="text-xl sm:text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row flex-wrap mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs sm:text-sm ${tag.class} py-1 px-2 mt-5`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400 font-normal text-sm sm:text-base">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
